
version : "3"

services:
  fuseki:
    build: .
    #command: load.sh ds
    ports:
    - "3030:3030"
    environment:
      - ADMIN_PASSWORD=admin
      - PORT=3030
    volumes: 
      - ./backup:/fuseki/backups
      - ./configuration:/fuseki/configuration
      - ./databases:/fuseki/databases
      


